{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Propietarios ({{ pagination.totalItemCount }})</h6>
            <form>
                <div class="input-group mb-3">
                    <input type="text"
                           name="q"
                           class="form-control"
                           placeholder="Search..."
                           value="{{ app.request.query.get('q') }}"
                    >
                    <div class="input-group-append">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Razon Social</th>
                <th scope="col">Cuit</th>
                <th scope="col">Renspa</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for propietario in pagination %}
            <tr>
                <th scope="row">{{ propietario.id }}</th>
                <th scope="row">{{ propietario.razonSocial }}</th>
                <th scope="row">{{ propietario.cuit }}</th>
                <th scope="row">{{ propietario.renspa }}</th>
                <th scope="row"> <a href="{{ path('propietario_show', {'slug': propietario.cuit}) }}"><i class="fa fa-search" aria-hidden="true"></i></a></th>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

        </div>

    </main>



{% endblock %}

{% block title %}

{% endblock %}

