{% extends 'base.html.twig' %}

{% block title %}Listado Subsidios a Generar{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Listado Subsidios a Generar</h5>
            <div class="row">
                <div class="col-12">
                    <a type="button" role="button" class="btn btn-success btn-sm btn-block"
                       href="{{ path('requisito_new') }}">Nuevo</a>

                    <div class="col-12 text-right">
                        <button type="button" class="btn btn-primary mt-2 mb-2">
                            Cantidad Registros <span class="badge badge-light">{{ requisitos |length }}</span>
                        </button>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Fecha Desde</th>
                                <th>Fecha Hasta</th>
                                <th>Tipo Forma Pago</th>
                                <th>File</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for requisito in requisitos %}
                            <tr>
                                <td>{{ requisito.id }}</td>
                                <td>{{ requisito.fechaDesde ? requisito.fechaDesde|date('Y-m-d') : '' }}</td>
                                <td>{{ requisito.fechaHasta ? requisito.fechaHasta|date('Y-m-d') : '' }}</td>
                                <td>{{ requisito.tipoFormaPago }}</td>
                                <td>{{ requisito.fileName }}</td>
                                <td>
                                    <a type="button" role="button" class="btn btn-sm btn-success"
                                       href="{{ path('generar_archivo_subsidio_proveedores', {'id': requisito.id}) }}">Generar</a>

                                    <a type="button" role="button" class="btn btn-sm btn-primary"
                                       href="{{ path('requisito_show', {'id': requisito.id}) }}">Ver</a>
                                    <a type="button" role="button" class="btn btn-sm btn-warning"
                                       href="{{ path('requisito_edit', {'id': requisito.id}) }}">Editar</a>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    <div class="alert alert-secondary" role="alert">
                                        Sin Registros
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
