{% extends 'base.html.twig' %}

{% block title %}Requisito index{% endblock %}

{% block body %}
    <h1>Requisito index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FechaDesde</th>
                <th>FechaHasta</th>
                <th>TipoFormaPago</th>
                <th>File</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for requisito in requisitos %}
            <tr>
                <td>{{ requisito.id }}</td>
                <td>{{ requisito.fechaDesde ? requisito.fechaDesde|date('Y-m-d') : '' }}</td>
                <td>{{ requisito.fechaHasta ? requisito.fechaHasta|date('Y-m-d') : '' }}</td>
                <td>{{ requisito.tipoFormaPago }}</td>
                <td>{{ requisito.file }}</td>
                <td>
                    <a href="{{ path('requisito_show', {'id': requisito.id}) }}">show</a>
                    <a href="{{ path('requisito_edit', {'id': requisito.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('requisito_new') }}">Create new</a>
{% endblock %}
