{% extends 'base.html.twig' %}

{% block title %}Subsidios Pago a Proveedores{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Subsidios Pago a Proveedores</h5>
        <hr/>
            <div class="row">
                <div class="col-12">

                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col">
                                <a type="button" role="button" class="btn btn-success btn-sm"
                                   href="{{ path('requisito_new') }}">Nuevo Pago Proveedores</a>
                            </div>
                            <div class="col-6"></div>
                            <div class="col">
                                <button type="button" class="btn btn-primary mt-2 mb-2">
                                    Cantidad Registros <span class="badge badge-light">{{ pagination.totalItemCount }}</span>
                                </button>
                            </div>
                            <div class="col">
                            </div>

                            <a type="button" role="button" class="btn btn-success btn-sm"
                               href="{{ path('download_excel_modelo') }}">Download Modelo Excel</a>
                        </div>

                    </div>

                    <div class="my-3 p-3 bg-white rounded shadow-sm">
                        <h6 class="border-bottom border-gray pb-2 mb-0">Subsidios generados ({{ pagination.totalItemCount }})</h6>
                        <form>
                            <div class="input-group mb-3">
                                <input type="text"
                                       name="q"
                                       class="form-control"
                                       placeholder="Buscar por motivo pago..."
                                       value="{{ app.request.query.get('q') }}"
                                >
                                <div class="input-group-append">
                                    <button type="submit"
                                            class="btn btn-outline-secondary">
                                        <span class="fa fa-search"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <h6 class="border-bottom border-gray pb-2 mb-0">Proxima Ref Cliente comienza en ({{ maxNumeroReferenciaCliente }})</h6>
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <tr >
                                    <th>Id</th>
                                    <th>Fecha Pago</th>
                                    <th>Fecha Hasta</th>
                                    <th>Motivo</th>
                                    <th>Cuenta Origen</th>
                                    <th>Total Beneficiarios</th>
                                    <th>Total Monto</th>
                                    <th>Excel</th>
                                    <th>Subsidio</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for requisito in pagination %}
                                <tr >
                                    <td>{{ requisito.id }} </td>
                                    <td>{{ requisito.fechaDesde ? requisito.fechaDesde|date('Y-m-d') : '' }}</td>
                                    <td>{{ requisito.fechaHasta ? requisito.fechaHasta|date('Y-m-d') : '' }}</td>
                                    <td data-toggle="tooltip" data-placement="top"
                                        title="{{ requisito.motivoPago }}">{{ requisito.motivoPago|slice(0,10) }}</td>
                                    <td>{{ requisito.cuantaOrigenFodos }}</td>
                                    <td>
                                        {% if  requisito.totalBeneficiarios > 0 %}
                                            <span class="badge badge-info"> {{ requisito.totalBeneficiarios }}
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ requisito.totalMontoPesos|format_currency('ARS', locale='es') }}
                                        </td>
                                    <td>
                                        {% if  requisito.fileExcelOriginalName is not null and requisito.fileExcelOriginalName != "" %}

                                            <a type="button" role="button" class="btn btn-sm btn-primary" target="_blank"
                                               data-toggle="tooltip" data-placement="top" title="Descargar Excel"
                                               href="{{ path('download_file',
                                                            {'nameFile': requisito.fileExcelOriginalName,
                                                             'pathFolder': 'files'} )
                                                      }}">
                                                <i class="fas fa-file-excel"></i>
                                            </a>

                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if  requisito.fileSubsidioName is not null and requisito.fileSubsidioName != "" %}


                                        <a type="button" role="button" class="btn btn-sm btn-success" target="_blank"
                                           data-toggle="tooltip" data-placement="top" title="Descargar Archivo Subsidio"
                                           href="{{ path('download_file',
                                               {'nameFile': requisito.fileSubsidioName, 'pathFolder': 'subsidio' } )
                                           }}">
                                            <i class="fas fa-download"></i></a>

                                        {% endif %}
                                    </td>

                                    <td colspan="4" style="width: 200px !important;">
                                        <a type="button" role="button" class="btn btn-sm btn-success"
                                           data-toggle="tooltip" data-placement="top" title="Generar Archivo Subsidio"
                                           href="{{ path('generar_archivo_subsidio_proveedores', {'id': requisito.id}) }}">
                                            <i class="fas fa-file-invoice-dollar"></i>
                                        </a>

                                        <a type="button" role="button" class="btn btn-sm btn-primary"
                                           data-toggle="tooltip" data-placement="top" title="Ver"
                                           href="{{ path('requisito_show', {'id': requisito.id}) }}"><i class="fas fa-eye"></i></a>
                                        <a type="button" role="button" class="btn btn-sm btn-warning"
                                           data-toggle="tooltip" data-placement="top" title="Editar"
                                           href="{{ path('requisito_edit', {'id': requisito.id}) }}">
                                            <i class="fas fa-pen-square"></i>
                                        </a>

                                        <a type="button" role="button" class="btn btn-sm btn-primary" target="_blank"
                                           data-toggle="tooltip" data-placement="top" title="Listado Beneficiarios"
                                           href="{{ path('exportBeneficiariosList', {'id': requisito.id}) }}">
                                            <i class="fas fa-book"></i>
                                        </a>

                                        <a type="button" role="button" class="btn btn-sm btn-success" target="_blank"
                                           data-toggle="tooltip" data-placement="top" title="Listado Excel Beneficiarios"
                                           href="{{ path('exportBeneficiariosListToExcel', {'id': requisito.id}) }}">
                                            <i class="far fa-file-excel"></i>
                                        </a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if  pagination.totalItemCount== 0 %}
                        <div class="row" >
                            <div class="col-12 alert alert-secondary" role="alert">
                                Sin Registros
                            </div>
                        </div>
                    {% endif %}
                </div>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
