{% extends 'base.html.twig' %}

{% block title %}Requisito{% endblock %}

{% block body %}
    <h1>Requisito</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ requisito.id }}</td>
            </tr>
            <tr>
                <th>FechaDesde</th>
                <td>{{ requisito.fechaDesde ? requisito.fechaDesde|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>FechaHasta</th>
                <td>{{ requisito.fechaHasta ? requisito.fechaHasta|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>TipoFormaPago</th>
                <td>{{ requisito.tipoFormaPago }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ requisito.file }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('requisito_index') }}">back to list</a>

    <a href="{{ path('requisito_edit', {'id': requisito.id}) }}">edit</a>

    {{ include('requisito/_delete_form.html.twig') }}
{% endblock %}
