{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">

        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Establecimientos</h6>
            <form>
                <div class="input-group mb-3">
                    <input type="text"
                           name="q"
                           class="form-control"
                           placeholder="Search..."
                           value="{{ app.request.query.get('q') }}"
                    >
                    <div class="input-group-append">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Establecimiento</th>
                    <th scope="col">Propietario</th>
{#                    <th scope="col">Cantidad Hectareas</th>#}
{#                    <th scope="col">Acciones</th>#}
                </tr>
                </thead>
                <tbody>
                {% for establecimiento in establecimientos %}
                    <tr>
                        <th scope="row">{{ establecimiento.id }}</th>
                        <th scope="row">{{ establecimiento.nombre }}</th>
                        <th scope="row">{{ establecimiento.propietario.razonSocial }}</th>
{#                        <th scope="row">{{ establecimiento }}</th>#}
{#                        <th scope="row"> <a href="{{ path('propietario_show', {'slug': propietario.cuit}) }}"><i class="fa fa-search" aria-hidden="true"></i></a></th>#}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-left">
                            No se encontraron resultados.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}

{% block title %}

{% endblock %}

