<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}Subsidios{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://www.santafe.gob.ar/assets/standard/images/favicon.ico">

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css">

        <!-- assets fonts -->
        <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/standard/css/fonts.css" type="text/css">


        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="">

        <link href="{{ asset('fontawesome/css/all.css') }}" rel="stylesheet"> <!--load all styles -->

        <link rel="stylesheet"
              type="text/css"
              href="{{ asset('css/jquery-ui.css') }}"/>
    {% endblock %}
</head>

<body>
    {% block nav %}
        {% set route_name = app.request.attributes.get('_route') %}
        <nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-1" id="navbar">
            <a href="https://www.santafe.gob.ar" class="brand-logo mr-5">
                <img class="logo logo--sf-big" src="http://www.santafe.gov.ar/assets/standard/images/gob-santafe.png">
            </a>
            <a class="navbar-brand space-brand fontColorSantaFe" href="#">Subsidios</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto ">

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TESORERIA') %}
                            <li class="nav-item {{ route_name == 'requisito_index' ? 'active' }}">
                                <a class="nav-link fontColorSantaFe" href="{{ path('requisito_index') }}">
                                    Pago Proveedores
                                </a>
                            </li>
                        {% endif %}

                        <li class="nav-item {{ route_name == 'validar_excel' ? 'active' }}">
                           <a class="nav-link fontColorSantaFe" href="{{ path('validar_excel') }}">Validar Excel <span class="sr-only">(current)</span></a>
                        </li>


                    </ul>
                    <ul class="navbar-nav ml-auto mr-5">
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <li class="nav-item dropdown" style="margin-right: 35px;">
                            <a class="nav-link dropdown-toggle fontColorSantaFe" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="nav-profile-img rounded-circle"
                                     src="{{ asset('images/profile-ico.png') }}">
                                <span>{{ app.user.username }}</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item fontColorSantaFe" href="{{ path('app_account_index') }}">
                                    <i class="far fa-address-card"></i>Profile</a>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <a class="dropdown-item" href="{{ path('atributo_configuracion_index') }}">
                                        <i class="fas fa-cog"></i>Configuraciones</a>
                                {% endif %}
                                {% if is_granted("ROLE_ADMIN") %}
                                    <a class="dropdown-item" href="{{ path('app_register') }}">
                                        <i class="fas fa-user-plus"></i>Nuevo User</a>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path('app_logout') }}">
                                    <i class="fas fa-sign-out-alt"></i>Logout</a>

                            </div>

                        </li>
                        {% else %}
                        <li class="nav-item fontColorSantaFe">
                            <a style="color: #fff;" class="nav-link" href="{{ path('app_login') }}">Login</a>
                        </li>
                    </ul>

                    {% endif %}
                </div>
            {% endif %}
        </nav>
    {% endblock %}


    <div class="container-fluid">
        {% if app.session.flashBag.has('successMessage') %}
            <div class="alert alert-success fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for msg in app.session.flashBag.get('successMessage') %}
                    {{ msg }}
                {% endfor %}

            </div>
        {% endif %}

        {% if app.session.flashBag.has('errorMessage') %}
            <div class="alert alert-danger fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {% for msg in app.session.flashBag.get('errorMessage') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}


        <div class="container-fluid mb-auto">
            {% block body %}
            {% endblock %}
        </div>

    </div>

    {% block footer %}
        <div class="row ">
            <footer class="footer text-muted" >
                <div class="container-fluid">
                    <div class="row">

                        <div class="offset-md-2 col-3">
                            <div class="sociales">
                                <p><a href="/index.php/web/content/view/full/117678">RSS / SUSCRIPCIÓN A NOTICIAS</a></p>
                                <ul class="list-inline footer-ul">
                                    <li class="list-inline-item"><a target="_blank" href="http://www.twitter.com/GobSantaFe"><i
                                                    class="icon-footertwitter"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="http://www.facebook.com/GobSantaFe"><i
                                                    class="icon-footerfacebook"></i></a>
                                    </li>
                                    <li class="list-inline-item"><a target="_blank" href="http://gplus.to/GobSantaFe"><i
                                                    class="icon-footerg"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="http://gobsantafe.tumblr.com/"><i
                                                    class="icon-footertumblr"></i></a>
                                    </li>
                                    <li class="list-inline-item"><a target="_blank" href="http://www.youtube.com/GobSantaFe"><i
                                                    class="icon-footeryoutube"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="http://instagram.com/gobsantafe"><i
                                                    class="icon-footerinstagram"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="https://es.foursquare.com/gobsantafe"><i
                                                    class="icon-footerfoursquare"></i></a></li>
                                    <li class="list-inline-item"><a target="_blank" href="https://storify.com/GobSantaFe"><i
                                                    class="icon-footerstorify"></i></a>
                                    </li>
                                    <li class="list-inline-item"><a target="_blank"
                                                                    href="http://www.linkedin.com/company/gobierno-de-la-provincia-de-santa-fe"><i
                                                    class="icon-footerlinkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="marca">
                                <img src="https://www.santafe.gob.ar/assets/app/portal/imgs/marca-footer.png" alt="Santa Fe">
                                <p>Atención telefónica: 0800-777-0801 </p>
                                <p>Lunes a viernes de 8 a 18 hs </p>
                                <p><span class="cc">c</span> Atribución-CompartirIgual 2.5 Argentina</p>
                            </div>


                        </div>

                        <div class="col-md-3">

                            <div class="stg-logos-contenedor">
                                <div class="stg-logos">
                                    <a href="https://www.santafe.gob.ar/tecnologias" target="_blank"><span
                                                class="stg-logos-logo-tec-stg"></span></a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </footer>
        </div>
    {% endblock %}

    {% block javascripts %}

        <script
                src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script type="text/javascript"
                src="{{ asset('js/jquery-ui.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('.dropdown-toggle').dropdown();

                $('.js-datepicker').datepicker({
                    dateFormat: 'dd/mm/yy'
                });
                $('[data-toggle="tooltip"]').tooltip();

            });


        </script>


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script type="text/javascript"
                src="{{ asset('js/moment.js') }}"></script>

    {% endblock %}


</body>
</html>
