<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}Subsidios{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://www.santafe.gob.ar/assets/standard/images/favicon.ico">

    {% block stylesheets %}
        <!-- css custom theme -->
        <link rel="stylesheet" href="{{ asset('stgtheme/css/custom.css') }}" type="text/css">

        <!-- assets fonts -->
        <link rel="stylesheet" href="https://www.santafe.gob.ar/assets/standard/css/fonts.css" type="text/css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">

        <link rel="stylesheet"
              type="text/css"
              href="{{ asset('css/jquery-ui.css') }}"/>
    {% endblock %}
</head>

<body>
    {% block nav %}
    <div class="container-fluid mb-5">
        <nav class="navbar navbar-expand-md navbar-light fixed-top">
            <a class="navbar-brand" href="#"><img
                        src="https://www.santafe.gob.ar/assets/standard/images/gob-santafe.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">

                    {% block navItems %}

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Nuevo Subsidio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Subsidios Generados</a>
                        </li>


                    {% endblock %}

                </ul>
                {% block searchTop %}

                {% endblock %}

                {% block iconsSystem %}
                    <ul class="list-inline custom-icon-middle">
                        <li class="list-inline-item">

                            <a href="#" class="dropdown-toggle" id="dropdownMenuLinkPerson" data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false" title="Usuario logeado"><i class="material-icons">person</i></a>

                            <div class="dropdown-menu custom-dropdown-menu-right" aria-labelledby="dropdownMenuLinkPerson">
                                <a class="dropdown-item" href="#">Perfil</a>
                                <a class="dropdown-item" href="#">Configuración</a>
                                <a class="dropdown-item" href="#">Acerca de</a>
                            </div>

                        </li>

                        <li class="list-inline-item"><a href="#" title="Salir"><i class="material-icons">exit_to_app</i></a>
                        </li>

                    </ul>

                {% endblock %}

            </div>
        </nav>
    </div>
    {% endblock %}

    <div class="container-fluid">
        <div style="margin-top: 55px !important;">

            {% if app.session.flashBag.has('successMessage') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('successMessage') %}
                        {{ msg }}
                    {% endfor %}

                </div>
            {% endif %}

            {% if app.session.flashBag.has('errorMessage') %}
                <div class="alert alert-danger">
                    {% for msg in app.session.flashBag.get('errorMessage') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            {% block body %}{% endblock %}
        </div>
    </div>

    {% block footer %}

        <footer class="footer text-muted" style="margin-top: 55px !important;
                    position:relative !important; overflow:hidden !important;">
            <div class="container-fluid">
                <div class="row">

                    <div class="offset-md-2 col-md-3">
                        <div class="sociales">
                            <p><a href="/index.php/web/content/view/full/117678">RSS / SUSCRIPCIÓN A NOTICIAS</a></p>
                            <ul class="list-inline footer-ul">
                                <li class="list-inline-item"><a target="_blank" href="http://www.twitter.com/GobSantaFe"><i
                                                class="icon-footertwitter"></i></a></li>
                                <li class="list-inline-item"><a target="_blank" href="http://www.facebook.com/GobSantaFe"><i
                                                class="icon-footerfacebook"></i></a>
                                </li>
                                <li class="list-inline-item"><a target="_blank" href="http://gplus.to/GobSantaFe"><i
                                                class="icon-footerg"></i></a></li>
                                <li class="list-inline-item"><a target="_blank" href="http://gobsantafe.tumblr.com/"><i
                                                class="icon-footertumblr"></i></a>
                                </li>
                                <li class="list-inline-item"><a target="_blank" href="http://www.youtube.com/GobSantaFe"><i
                                                class="icon-footeryoutube"></i></a></li>
                                <li class="list-inline-item"><a target="_blank" href="http://instagram.com/gobsantafe"><i
                                                class="icon-footerinstagram"></i></a></li>
                                <li class="list-inline-item"><a target="_blank" href="https://es.foursquare.com/gobsantafe"><i
                                                class="icon-footerfoursquare"></i></a></li>
                                <li class="list-inline-item"><a target="_blank" href="https://storify.com/GobSantaFe"><i
                                                class="icon-footerstorify"></i></a>
                                </li>
                                <li class="list-inline-item"><a target="_blank"
                                                                href="http://www.linkedin.com/company/gobierno-de-la-provincia-de-santa-fe"><i
                                                class="icon-footerlinkedin"></i></a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-md-3">

                        <div class="marca">
                            <img src="https://www.santafe.gob.ar/assets/app/portal/imgs/marca-footer.png" alt="Santa Fe">
                            <p>Atención telefónica: 0800-777-0801 </p>
                            <p>Lunes a viernes de 8 a 18 hs </p>
                            <p><span class="cc">c</span> Atribución-CompartirIgual 2.5 Argentina</p>
                        </div>


                    </div>

                    <div class="col-md-3">

                        <div class="stg-logos-contenedor">
                            <div class="stg-logos">
                                <a href="https://www.santafe.gob.ar/tecnologias" target="_blank"><span
                                            class="stg-logos-logo-tec-stg"></span></a>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </footer>

    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script type="text/javascript"
                src="{{ asset('js/jquery-ui.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('.dropdown-toggle').dropdown();

                $('.js-datepicker').datepicker({
                    dateFormat: 'dd/mm/yy'
                });
            });
        </script>
    {% endblock %}


</body>
</html>
