{% block body %}

            <h5>{{ requisito.fileSubsidioName }}</h5>


            <div class="row mt-3">
                    <div class="col-12 text-left">
                        <div class="row align-items-center">
                            <div class="col-3 text-right">
                                <span class="font-weight-bold"> Fecha Pago: </span>
                                <span class="font-weight-bold text-success">
                                        {{ requisito.fechaDesde |date("d/m/Y") }}</span>
                                </span>
                            </div>
                            <div class="col-3 text-right">
                                <span class="font-weight-bold"> Cantidad Beneficiarios: </span> <span class="font-weight-bold text-success">
                                    {{ beneficiarios |length }}</span>
                                </span>
                            </div>
                            <div class="col-3 text-right">
                                <span class="font-weight-bold">
                                 Total:
                                </span>
                                <span class="text-danger"> {{ requisito.totalMontoPesos|format_currency('ARS', locale='es') }}</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-12">
                        <table >
                            <thead>
                            <tr>
                                <th>ReferenciaCliente</th>
                                <th>Nombre</th>
                                <th>Cuit</th>
                                <th>Monto</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for beneficiario in beneficiarios %}
                                <tr>
                                    <td>{{ beneficiario.referenciaCliente }}</td>
                                    <td>{{ beneficiario.nombreBeneficiario }}</td>
                                    <td>{{ beneficiario.cuit }}</td>
                                    <td>{{ beneficiario.importeAPagar |format_currency('ARS', locale='es')}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if  beneficiarios|length == 0 %}
                        <div class="row" >
                            <div class="col-12 alert alert-secondary" role="alert">
                                Sin Registros
                            </div>
                        </div>
                    {% endif %}
                </div>


{% endblock %}
